.header {
  display: flex;
  width: 100%;
  background-color: #2250B8;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;

  a, p {
    text-decoration: none;
    &hover{
      text-decoration: underline;
    }
  }
 }

 .logo {
    text-transform: initial;
    font-size: 600;
    &:hover{
      text-decoration: none !important;
    }

 }
 .buttonGroup{
    display: flex;
    gap:1rem;
}